*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5,  h6{
    font-family: 'Libre Franklin', sans-serif;

}
a, a:hover{
    text-decoration: none;
}
/*header*/
.header-section{
    width: 100%;
    height: 100vh;
    background: url(img/banner.png) center top no-repeat;
    background-size: cover;
}
.header-section .bg-light {
    background-color: transparent!important;
}
.header-section .navbar-brand img{
   
}
.header-section .navbar-light .navbar-nav .active>.nav-link{
    background: url(border.png) center bottom no-repeat;
    font-weight: 600;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 15px;
    transition: 1s;
}
.header-section .navbar-light .navbar-nav .nav-link:hover, .navbar-nav .btn-link:hover {
    background: url(images/border.png) center bottom no-repeat;
    font-weight: 600;
    text-decoration: none;

}
.navbar-nav .btn-link{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 15px;
    transition: 1s;

}

.header-section .navbar-nav .btn-info {
    font-size: 10px;
    font-weight: 400;
    background: #000000;
    padding: 8px 35px;
    border: 1px solid #8824cd;
    border-radius: 65px;
   
}
.header-section .navbar-nav .btn-info .fas{
    text-align: right;
   margin-left: 35px;

}
.banner {
    width: 100%;
    padding: 80px 0px;
    margin-top: 95px;
}

.banner .banner-inner h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: #ffffff;
    margin-top: 80px;
    margin-bottom: 35px;
} 
.banner .banner-inner .btn-info{
    font-size: 12px;
    font-weight: 400;
    background: #8824cd;
    border: 1px solid #8824cd;
    padding: 8px 35px;
    border-radius: 65px;
    margin-bottom: 8px;

}
.banner .banner-inner .btn-info:hover{
    background: transparent;
    border: 1px solid #8824cd;
    border-radius: 35px;
    color:#ffffff ;
    transition: 1s;


}
.banner .banner-inner p {
    font-size: 11px;
    color: #ffffff;
    font-weight: 400;
    padding-right: 10px;
}
.feature-article{
    width: 100%;
    padding: 80px 0px;
    background: #2e3b4e;
    
}
 .feature-inr1{
    width: 100%;
   
    margin-bottom: 40px;
   
}
 .feature-inr{
    width: 100%;
    margin-bottom: 40px;


}
.feature-article h4{
    font-size: 20px;
    font-weight: 500;
    color: #bbbfc3;
    padding: 10px 0px;
}
.feature-article p{
    font-size: 11px;
    line-height: 20px;
    color: #bbbfc3;
    font-weight: 400;
    

}
.pink{
    width: 100%;
    padding: 80px 0px;
    background: url(img/banner2.png) center top no-repeat;
    background-size: cover;
}
.pink .pink-inr h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 25px;

}
.pink .pink-inr p{
    font-size: 11px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    

}
.pink .pink-inr .btn-info{
    font-size: 12px;
    font-weight: 650;
    background: #ffffff;
    border: 1px solid #d54c63;
    color: #d54c63;
    padding: 10px 70px;
    border-radius: 75px;
    margin-bottom: 8px;

}
.pink .pink-inr .btn-info:hover{
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 35px;
    color:#ffffff ;
    transition: 1s;


}
.book .img1 image{
    float: left;
    padding: 0px;
    margin: 0px;
}
.book .book-inr{
    float: right;
    margin-top: 60px;
    margin-left: 30px;
    
}
.book .book-inr h5{
    font-size: 25px;
    font-weight: 550;
    color: #000000;
    padding: 10px 0px;
    margin-top: 40px;
   
}
.book .book-inr p{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   text-align: left;
    color: #000000;

}
.book .book-inr .pp{
    width: 100%;
    margin-top: 40px;
    
}
.text{
    width: 100%;
    padding: 80px 0px;
    background: url(img/bnner3.png) center top no-repeat;
    background-size: cover;
}
.text .text-inr h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 25px;

}
.text .text-inr p{

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
   text-align: center;
    color: #a990b2;
}
.text  .btnn .btn-info{
    font-size: 12px;
    font-weight: 650;
    background: #8824cd;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 75px;
    margin-top: 10px;
    margin-bottom: 8px;

}
.text  .btnn .btn-info:hover{
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 35px;
    color:#ffffff ;
    transition: 1s;


}
.text  .btnn p{
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
   text-align: center;
    color: #a990b2;

}
.photogrpy{
    width: 100%;
    padding: 80px 0px;
    background: url(img/bnnr4.png) center top no-repeat;
    background-size: cover;
}
.photogrpy .photogrpy-inr {
    width: 100%;
    padding-top: 128px;
    padding-left: 40px;
    margin-top: 80px;
}
.photogrpy .photogrpy-inr .btn-info{
    font-size: 12px;
    font-weight: 650;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 8px 30px;
    border-radius: 55px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.photogrpy .photogrpy-inr .btn-info:hover{
    background:#8824cd ;
    border: 1px solid #ffffff;
    border-radius: 35px;
    color:#ffffff ;
    transition: 1s;

}
.photogrpy .photogrpy-inr h5{
    font-size: 30px;
    font-weight: 450;
    line-height: 35px;
    color: #ffffff;
    padding: 10px 0px;
}
.photogrpy .photogrpy-inr p{
    width: 100%;
    font-size: 9px;
    font-weight: 400;
   text-align: left;
    color: #ffffff;

}
.photogrpy .photogrpy-inr img{
    padding-right: 12px;
}
.book2{
    width: 100%;
}
.book2 .book2-inr{
    width: 100%;
}
.book2 .book2-inr h5{
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    padding: 10px 0px;
    margin-top: 40px;
   
}
.book2 .book2-inr p{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   text-align: left;
    color: #000000;

}
.book2 .book2-inr .pp{
    width: 100%;
    margin-top: 40px;
    
}
 .image2 img {
    width: 100%;
}
.contact{
    width: 100%;
    padding: 80px 0px;
    background-color: #e7526b;
}
.contact .contact-inr h4{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f8eaec;
    padding: 10px 0px;
    margin-top: 40px;
}
.contact .contact-inr p{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #f8eaec;

}
.contact .contact-inr h6{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #f8eaec;
    margin-top: 40px;

}
.contact .contact-inr h6:hover{
    color: blue;
}
.footer{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #2e3b4e;
}
.footer p{
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    color: #f8eaec;
    padding-bottom: 50px;


}






 